* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: HiraginoKakuGothicPro;
    font-weight: bold;
    src: url("./font/HiraginoKakuGothicProW6.otf") format("opentype");
}

html {
    font-family: 'HiraginoKakuGothicPro';
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100vw;
    background: white;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 2rem;
    z-index: 99;
    display: none;
}

.header .header-nav .header-item {
    margin: 0 1rem;
}

.header .header-nav-left .header-item img {
    max-width: 100px;
    max-height: 100px;
}

.header .header-nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item-effect {
    position: relative;
    top: -35px;

}

.header-item-effect .header-item {
    color: white;
    padding: 3rem 1.5rem;
    background-color: #007FCC;
    border-radius: 25%;
}

.bg-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007FCC;
}

.bg-section>h1 {
    font-size: 40px;
    color: white;
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 300px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -webkit-animation-name: text-effect;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 2;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.bg-section-disable {
    -webkit-animation-name: moveAndScale;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes text-effect {

    0%,
    10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 1000px;
    }
}

@keyframes moveAndScale {
    0% {
        transform: scale(1);
        border-radius: 0;
    }

    90% {
        transform: translate(43%, -43%) scale(0.0125, 0.025);
        border-radius: 25%;
    }

    100% {
        transform: translate(43%, -43%) scale(0.05, 0.1);
    }
}

/* main animation */
#main {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#circle-effect {
    position: relative;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#main .main-circle {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
}

#main .main-circle:nth-child(1) {
    background-color: #007FCC;
    top: calc((100% - 182px)/2);
    left: calc((100% - 182px)/2);
    -webkit-animation-delay: 0.5s;
}

#main .main-circle:nth-child(2) {
    background-color: #007FCC;
    top: calc((100% - 182px)/1);
    left: calc((100% - 182px)/2);
    -webkit-animation-delay: 2s;
}

#main .main-circle:nth-child(3) {
    background-color: #F2B90D;
    top: calc((100% - 182px)/2);
    left: calc((100% - 182px)/1.45);
    -webkit-animation-delay: 1s;

}

#main .main-circle:nth-child(4) {
    background-color: #F2B90D;
    top: calc((100% - 182px)/1);
    left: calc((100% - 182px)/1.45);
    -webkit-animation-delay: 1.5s;
}

#main .main-circle:nth-child(5) {
    background-color: #007FCC;
    top: calc((40% - 182px)/2);
    left: calc((100% - 182px)/1.45);
    -webkit-animation-delay: 4.5s;
}

#main .main-circle:nth-child(6) {
    background-color: #007FCC;
    top: calc((40% - 182px)/2);
    left: calc((100% - 182px)/2);
    -webkit-animation-delay: 4s;
}

#main .main-circle:nth-child(7) {
    background-color: #007FCC;
    top: calc((100% - 182px)/2);
    left: calc((50% - 182px)/1.3);
    -webkit-animation-delay: 3s;
}

#main .main-circle:nth-child(8) {
    background-color: #007FCC;
    top: calc((100% - 182px)/1);
    left: calc((50% - 182px)/1.3);
    -webkit-animation-delay: 2.5s;
}

#main .main-circle:nth-child(9) {
    background-color: #007FCC;
    top: calc((40% - 182px)/2);
    left: calc((50% - 182px)/1.3);
    -webkit-animation-delay: 3.5s;
}

.main-circle-active {
    -webkit-animation-name: bubble-effect;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

.main-circle-active-2 {
    -webkit-animation-name: bubble-effect-2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes bubble-effect {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    50% {
        background-color: #F2B90D;
        transform: scale(1);
        opacity: 1;
    }

    100% {
        background-color: #F2B90D;
        transform: scale(0.2);
        opacity: 1;
    }
}

@-webkit-keyframes bubble-effect-2 {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        opacity: 1;
    }
}

@-webkit-keyframes bubble-effect-out {
    from {
        transform: translate(0%, 0%) scale(0.2);
        opacity: 1;
    }

    to {
        transform: translate(300%, -1000%) scale(0.2);
        opacity: 1;
    }
}

/* Image effect */
#image-effect {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 5rem;
    opacity: 0;
}

.image-effect-active {
    -webkit-animation-name: fade-in-effect;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-in-effect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-logo-active {
    -webkit-animation-name: logo-effect;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes logo-effect {
    0% {
        transform: rotate(0);
        opacity: 1;
    }

    90% {
        transform: rotate(405deg);
        opacity: 1;
    }

    100% {
        transform: rotate(405deg);
        opacity: 0;
    }
}

.image-effect-out {
    -webkit-animation-name: image-effect-fade-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes image-effect-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#main-frame-2 {
    background-color: #007FCC;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    position: absolute;
    top: 0;
}

#ball-effect {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 2;
    left: calc((100% - 182px) / 2);
    background-color: white;
}

.ball-effect-active {
    -webkit-animation-name: ball-effect;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes ball-effect {
    0% {}

    20% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-200%);
    }

    90% {
        transform: translateY(0%);
        background-image: linear-gradient(to right, #0005CC, #FFAE35);
    }

    100% {
        transform: translateY(0%) scale(0);
        background-image: linear-gradient(to right, #0005CC, #FFAE35);
    }
}

.main-bg-active {
    animation: change-background 3s 1 forwards;
}

@keyframes change-background {
    from {
        background-color: #007FCC;
    }

    to {
        background-color: white;
    }
}

.arrow-item {
    position: absolute;
    animation: arrow-effect 2s forwards;
}

.arrow-item-2 {
    position: absolute;
    animation: arrow-effect-2 4s forwards;
}

.arrow-item-3 {
    position: absolute;
    animation: arrow-effect-3 6s forwards;
}

.arrow-item-4 {
    position: absolute;
    animation: arrow-effect-4 8s forwards;
}

.arrow-item-5 {
    position: absolute;
    animation: arrow-effect-5 5s forwards;
}

@-webkit-keyframes arrow-effect {
    0% {
        bottom: 0;
        left: 0;
    }

    100% {
        bottom: 200%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
}

@-webkit-keyframes arrow-effect-2 {
    0% {
        bottom: 10%;
        left: -10%;
    }

    100% {
        bottom: 200%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
}

@-webkit-keyframes arrow-effect-3 {
    0% {
        bottom: -20%;
        left: 10%;
    }

    100% {
        bottom: 200%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
}

@-webkit-keyframes arrow-effect-4 {
    0% {
        bottom: 0;
        left: 50%;
    }

    100% {
        bottom: 200%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
}

@-webkit-keyframes arrow-effect-5 {
    0% {
        bottom: -40%;
        left: 30%;
    }

    100% {
        bottom: 200%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
}

.diagonal {
    display: inline-block;
    height: 20rem;
    background-color: rgb(255, 255, 255);
}

.diagonal:nth-child(1) {
    width: 5rem;
    transform: rotate(-45deg);
    position: relative;
    left: 10px;
    top: -300px;
}

.diagonal:nth-child(2) {
    width: 10rem;
    transform: rotate(45deg);
    position: relative;
    left: -500px;
    top: 1000px;
}

.diagonal:nth-child(3) {
    width: 5rem;
    transform: rotate(80deg);
    position: relative;
    top: -20px;
    right: -2000px;
}

#diagonal-effect {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.diagonal-active:nth-child(1) {
    -webkit-animation-name: diagonal-effect-1;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

.diagonal-active:nth-child(2) {
    -webkit-animation-name: diagonal-effect-2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

.diagonal-active:nth-child(3) {
    -webkit-animation-name: diagonal-effect-3;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes diagonal-effect-1 {
    from {
        transform: rotate(-45deg) scaleY(1);
    }

    to {
        transform: rotate(-45deg) scaleY(20);
    }
}

@-webkit-keyframes diagonal-effect-2 {
    from {
        transform: rotate(45deg) scaleY(1);
    }

    to {
        transform: rotate(45deg) scaleY(20);
    }
}

@-webkit-keyframes diagonal-effect-3 {
    from {
        transform: rotate(60deg) scaleY(1);
    }

    to {
        transform: rotate(60deg) scaleY(20);
    }
}

.container {
    height: 100vh;
}

.circles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.circles .circle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circles .circle-wrapper .circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #007FCC;
    opacity: 0;
}

.circles .circle-wrapper .text {
    color: #007FCC;
    font-size: 24px;
    opacity: 0;
}

.circles .circle-wrapper .text span {
    color: #007FCC;
    padding: 0 20px;
}

.circle-active {
    -webkit-animation-name: show-circle-effect;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

.circle-active:nth-child(1) {
    -webkit-animation-duration: 1s;
}

.circle-active:nth-child(2) {
    -webkit-animation-duration: 1s;
}

.circle-active:nth-child(3) {
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes show-circle-effect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scaleX {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: scaleX;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes scaleX {
    0% {
        transform: scaleX(1);
    }

    50% {
        border-radius: 0;
        transform: scaleX(1000) scaleY(1);
        opacity: 1;
    }

    100% {
        border-radius: 0;
        transform: scaleY(0);
        opacity: 1;
    }
}

.text-active {
    -webkit-animation-name: show-text-effect;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

.text-active:nth-child(1) {
    -webkit-animation-duration: 1s;
}

.text-active:nth-child(2) {
    -webkit-animation-duration: 2s;
}

.text-active:nth-child(3) {
    -webkit-animation-duration: 3s;
}

@-webkit-keyframes show-text-effect {
    0% {
        opacity: 0;
        transform: scale(0) translateY(0);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(50px);
    }
}